<div class="bg-light p-5 rounded mt-5">
  <h1>Contact List</h1>
  <p class="lead">Gerencie seus contatos em qualquer lugar!</p>
  <p><%= link_to 'Crie sua conta', new_user_path, :class =>"btn btn-primary btn-lg text-white" %></p>
</div>